#zen-requirements{
border-style:solid;
border-width:2px;}

body {background-image:url("http://www.pxleyes.com/images/contests/paradise-2/fullsize/Bridge-Over-Peaceful-Waters-4d9eb4ae84c33_hires.jpg")}
p{ font-style:italic;}
h1 {font-size: 80px;}
body{color:white;}
h1{text-align:center;}